body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
}

#Menu a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f
}

.carousel-inner{
    max-height: 20rem;

}

#Estudios-Academicos h3{
    color: #6610f2
}

#Estudios-Academicos h2{
    color: #fd7e14;
}

#Experiencia-Laboral h2{
    color:#6610f2
}

#Experiencia-Laboral h3{
    color:#fd7e14
}